
:root{
    --primary:  rgb(62, 65, 224);
    --secondary: rgb(247, 241, 241);

}

.btn {
    border-radius: .3rem;
    color: var(--secondary);
    border: none;
    outline: none;
    background-color: var(--primary);
    box-shadow: 2px 2px darkgray;
}

.card {
    display: inline-block;
    margin: auto 10px 10px auto;
    padding: 5px 5px 5px 5px;
}

.input-container {
    border-radius: .3rem;
}

.flex-row {
    display:flex;
    flex-wrap: wrap;
}


.border {
    border-style: solid;
    border-color:none;
    padding: 2px; 
    border-radius: .3rem;
}


.border-green {
    background-color: green;
    padding: 1px 5px 1px 5px;
    border-radius: .3rem;
    color: white;
    font-weight: bold;
}
.border-yellow {
    background-color: yellow;
    padding: 1px 5px 1px 5px;
    border-radius: .3rem;
    color: black;
    font-weight: bold;
}
.border-orange {
    background-color: rgb(247, 163, 9);
    padding: 1px 5px 1px 5px;
    border-radius: .3rem;
    color:white;
    font-weight: bold;
}
.border-red {
    background-color: red;
    padding: 1px 5px 1px 5px;
    border-radius: .3rem;
    color: white;
    font-weight: bold;
}
.border-pink {
    background-color: rgb(228, 8, 228);
    padding: 1px 5px 1px 5px;
    border-radius: .3rem;
    color: white;
    font-weight: bold;
}

.five-card-header {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.five-card-text {
    color: white;
    font-size: 14px;
}

.five-card-text {
    font-weight: bold;
    font-style: underline;
}

.blue-background {
    background-color:var(--primary);
}